body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  border: 2px solid black;
}
.columns {
  flex-grow: 1;
  display: flex;
}

.row {
  border: 2px solid black;
  flex-grow: 1;
}

.coloredBox {
  background-color: red;
}

.user-prompt {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.buttons {
  margin-top: 10px;
}

button {
  padding: 10px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  font-weight: 700;
}

label {
  font-size: 28px;
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  color: red;
}

input {
  width: 70px;
  height: 70px;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 40px;
  text-align: center;
}

input:invalid {
  border-color: red;
}
